body {
	background: #eee;
	margin-top:20px;
	font-family: 'Open Sans', sans-serif;
}

#header {
	margin-bottom:20px;
}
.row {
	margin: 0 5%;
}

#logo-box {
}

	#logo-box img {
		max-width:300px;
		height:auto;
		max-height:200px;
	}

		#logo-box p {
			display: block;
			font-weight:700;
			font-size:32px;
			margin-top:5px;
			margin-bottom:0;
			color:#ea0000;
		}

#nav-bar {
	height:250px;
	display: flex;
	flex-direction:column;
	justify-content:center;
}

	#nav-bar ul {
		display: flex;
		justify-content:space-between;
		padding:0;
	}

		#nav-bar ul li {
			list-style-type: none;
			background: #ddd;
			text-align: center;
			width:180px;
			height:180px;
			display: flex;
			flex-direction:column;
			justify-content:center;
			border-radius:0;
		}

			#nav-bar ul li i {
				font-size:64px;
			}

			#nav-bar ul li p {
				font-size:24px;
				margin:10px 0;
			}

#social-media {
	padding: 0;
	display: flex;
	justify-content:space-between;
}

	#social-media li {
		list-style-type: none;
		background: #ddd;
		width:50px;
		height:50px;
		text-align: center;
		display: inline-block;
	}

		#social-media li i {
			color: #272727;
			font-size:32px;
			line-height: 50px;
		}