html {
    height:100%;
}

body {
	background: #eee;
	font-family: 'Open Sans', sans-serif;
	height:100%;
}

/*
* Keeps footer down, adds space (padding) at top and bottom of main body
**/
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -100px;
    padding: 20px 0 120px;
}

#header {
	margin-bottom:20px;
}

.row {
	margin: 0 5%;
}

#logo-box {
	text-align: center;
}

	#logo-box img {
		max-width:300px;
		height:auto;
		max-height:170px;
	}

		#logo-box p {
			display: block;
			font-weight:700;
			font-size:32px;
			margin-top:5px;
			margin-bottom:0;
			color:#ea0000;
		}

#nav-bar {
	height:250px;
	display: flex;
	flex-direction:column;
	justify-content:center;
}

	#nav-bar ul {
		display: flex;
		justify-content:space-between;
		padding:0;
	}

		#nav-bar ul li {
			list-style-type: none;
			background: #ddd;
			text-align: center;
			width:180px;
			height:180px;
			border-radius:0;
			padding:0;
		}

			#nav-bar ul li a {
				color:inherit;
				height:100%;
				width:100%;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				display: flex;
				flex-direction:column;
				justify-content:center;
			}

				#nav-bar ul li a:hover {
					text-decoration: none;
					background: rgba(0,0,0,0.05);
				}

			#nav-bar ul li i {
				font-size:64px;
			}

			#nav-bar ul li p {
				font-size:24px;
				margin:10px 0;
			}

#social-media {
	padding: 0;
}

	#social-media li {
		list-style-type: none;
		background: #ddd;
		width:50px;
		height:50px;
		text-align: center;
		display: inline-block;
		margin:0 10px;
	}

		#social-media a:first-of-type li {
			margin-left:0;
		}

		#social-media a:last-of-type li {
			margin-right:0;
		}

		#social-media li i {
			color: #272727;
			font-size:32px;
			line-height: 50px;
		}

footer {
	background: #272727;
	color:#ddd;
	width:100%;
	text-align: center;
	height:100px;
	width:100%;
    font-weight: 300;
    line-height: 25px;
    padding:25px 0;
    border-top:5px solid #111;
}

	footer p {
		margin:0;
	}